// VARIABLES:

// colors
$color-primary: #707070;
$color-text: #888888;

// fonts
$font-primary: Helvetica, sans-serif;
$font-secondary: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

// spacing
$padding-default: 40px 20px;
$margin-text: 20px 0;