* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
}

a, button {
  cursor: pointer;
}

#products .container .container-products .product-item a.buttom-item {
  display: block;
  border: 1px solid #707070;
  border-radius: 4px;
  text-decoration: none;
  display: flex;
  height: 30px;
}

#share-form .container form button, #products .container .container-loadMore .btn-loadMore, #FormAlgorithin .container .row form button {
  border: 1px solid #707070;
  border-radius: 4px;
  text-decoration: none;
  padding: 10px 0 11px 0;
  justify-content: center;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  background-color: #FFF;
  color: #888888;
}

#share-form .container form .containerInputs .row input, #FormAlgorithin .container .row form input {
  height: 30px;
  padding-left: 8px;
  border: 1px solid #707070;
  font-family: Helvetica, sans-serif;
  color: #707070;
}

.container .contTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 20px;
  margin-bottom: 50px;
}
.container .contTitle h2 {
  font-size: 23px;
  width: 55%;
}
.container .contTitle .line {
  height: 1px;
  width: 80%;
  color: #707070;
  background-color: #707070;
}

h1, h2, h3, h4, h5, h6, p,
a, label, span {
  color: #707070;
}

.remove {
  display: none !important;
}

.inputError {
  border: 1px solid red !important;
}

.erro {
  color: red;
  display: block;
  font-size: 80%;
}

.sucess {
  color: green;
  font-size: 90%;
  text-align: center;
  margin-top: 3px;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
#header {
  background-color: #707070;
  padding: 70px 0px 130px 0px;
  position: relative;
  text-align: center;
  color: #FFF;
  overflow: hidden;
}
#header h1, #header h2, #header h3, #header h4, #header p {
  color: #FFF;
}
#header .container #subtitle {
  font-size: 20px;
}
#header .container #title {
  font-size: 40px;
  margin-bottom: 24px;
}
#header .container #altText {
  font-size: 14px;
  margin-bottom: 50px;
}
#header .container .containerButton {
  margin-bottom: 130px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#header .container a {
  text-decoration: none;
  color: #888888;
  background-color: #FFF;
  padding: 12px 42px;
  border-radius: 4px;
  margin: 5px 40px;
  min-width: 130px;
  text-align: center;
}
#header::after {
  content: "";
  position: absolute;
  width: 130%;
  height: 100%;
  bottom: -70%;
  background-color: #FFF;
  left: -10%;
  transform: rotate(7deg);
}

#FormAlgorithin {
  margin-bottom: 80px;
}
#FormAlgorithin .container .row {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
}
#FormAlgorithin .container .row .textInfo {
  max-width: 620px;
  width: 70%;
  margin-right: 30px;
}
#FormAlgorithin .container .row .textInfo h3 {
  font-size: 23px;
  padding-bottom: 30px;
}
#FormAlgorithin .container .row .textInfo p {
  padding-bottom: 20px;
}
#FormAlgorithin .container .row form {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -10px;
}
#FormAlgorithin .container .row form label {
  padding-top: 20px;
  padding-bottom: 7px;
}
#FormAlgorithin .container .row form .row {
  justify-content: left;
  align-items: center;
  padding: 20px 0;
}
#FormAlgorithin .container .row form .row div {
  display: flex;
  align-items: center;
}
#FormAlgorithin .container .row form .row label {
  padding: 0px 8px;
  margin-right: 30px;
  color: #888888;
}
#FormAlgorithin .container .row form .formSend {
  color: green;
}

#products {
  margin-bottom: 128px;
}
#products .container {
  padding: 0px 30px;
  justify-content: center;
}
#products .container .container-products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#products .container .container-products .product-item {
  width: 25%;
  max-width: 220px;
  margin: 0px 20px;
}
#products .container .container-products .product-item .image-item {
  height: 150px;
  margin-bottom: 14px;
  justify-content: center;
  align-items: center;
  display: flex;
}
#products .container .container-products .product-item h4.name-item {
  font-size: 16px;
  padding-bottom: 10px;
}
#products .container .container-products .product-item p {
  font-size: 14px;
  padding-bottom: 14px;
}
#products .container .container-products .product-item span {
  font-size: 13px;
  display: block;
}
#products .container .container-products .product-item h4.price-item {
  font-size: 18px;
  color: #707070;
  padding: 7px 0px;
}
#products .container .container-products .product-item a.buttom-item {
  margin-top: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
#products .container .container-loadMore {
  width: 100%;
  max-width: 260px;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  margin-top: 42px;
}
#products .container .container-loadMore .loading {
  content: '<img src="assets/loading.gif" width="40px" height="40px" />';
}
#products .container .container-loadMore .btn-loadMore {
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

#share-form .container {
  text-align: center;
}
#share-form .container #subtitle {
  font-size: 16px;
  margin-bottom: 40px;
}
#share-form .container form .containerInputs {
  display: flex;
  justify-content: space-around;
}
#share-form .container form .containerInputs .row {
  width: 40%;
  display: flex;
  flex-direction: column;
}
#share-form .container form .containerInputs .row label {
  font-size: 15px;
  color: #888888;
  text-align: left;
  margin-bottom: 7px;
}
#share-form .container form button {
  margin-top: 50px;
  padding-left: 8%;
  padding-right: 8%;
}
#share-form .container form .formSend {
  color: green;
}

#footer {
  background-color: #707070;
  padding: 190px 0px 40px 0px;
  position: relative;
  text-align: center;
  color: #FFF;
  overflow: hidden;
}
#footer .text-footer span {
  display: block;
  margin: 8px 0;
  color: #FFF;
}
#footer::before {
  content: "";
  position: absolute;
  width: 190%;
  height: 140%;
  top: -130%;
  background-color: #FFF;
  left: -10%;
  transform: rotate(-5deg);
}

@media (max-width: 600px) {
  #header .container {
    text-align: left;
    padding: 0px 20px;
  }
  #FormAlgorithin .container .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
  }
  #FormAlgorithin .container .row .textInfo {
    width: auto;
    margin: 0;
  }
  #FormAlgorithin .container .row form {
    width: 100%;
  }
  #FormAlgorithin .container .row form .row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
  }
  #products .container .container-products .product-item {
    width: 100%;
    max-width: none;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
  }
  #products .container .container-products .product-item .image-item {
    width: auto;
  }
  #products .container .container-products .product-item .desc-item {
    display: none;
  }
  #products .container .container-products .product-item div {
    width: auto;
    display: flex;
    flex-direction: column;
  }
  #products .container .container-products .product-item h4.price-item {
    font-size: 17px;
  }
  .container {
    overflow: hidden;
  }
  .container .contTitle {
    margin: 0px -25px 50px -25px;
    margin-bottom: 50px;
  }
  .container .contTitle h2 {
    font-size: 18px;
    width: 170%;
  }
  #share-form .container form .containerInputs {
    flex-direction: column;
    padding: 0px 30px;
  }
  #share-form .container form .containerInputs .row {
    width: 100%;
  }
  #share-form .container form .containerInputs .row:first-child {
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=main.css.map */