@import 'base';
@import 'variables';
@import 'extends';

h1, h2, h3, h4, h5, h6, p,
a, label, span {
    color: $color-primary;
}

.remove {
    display: none !important;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

    .contTitle {
        @extend %title-line;
    }
}

#header {
    background-color: $color-primary;
    padding: 70px 0px 130px 0px;
    position: relative;
    text-align: center;
    color: #FFF;
    overflow: hidden;

    h1, h2,h3, h4, p {
        color: #FFF;
    }

    .container {
        #subtitle {
            font-size: 20px;
        }

        #title {
            font-size: 40px;
            margin-bottom: 24px;
        }

        #altText {
            font-size: 14px;
            margin-bottom: 50px;
        }

        .containerButton {
            margin-bottom: 130px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        a {
            text-decoration: none;
            color: $color-text;
            background-color: #FFF;
            padding: 12px 42px;
            border-radius: 4px;
            margin: 5px 40px;
            min-width: 130px;
        }
    }

    &::after {
        content: "";
        position: absolute;
        width: 130%;
        height: 100%;
        bottom: -70%;
        background-color: #FFF;
        left: -10%;
        transform: rotate(7deg);
    }
}

#FormAlgorithin {
    margin-bottom: 80px;
    .container {
        .row {
            display: flex;
            justify-content: space-between;
            padding: 0px 30px;

            .textInfo {
                max-width: 620px;
                width: 70%;
                margin-right: 30px;

                h3 {
                    font-size: 23px;
                    padding-bottom: 30px;
                }

                p {
                    padding-bottom: 20px;
                }
            }

            form {
                width: 35%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: -10px;
 
                label {
                    padding-top: 20px;
                    padding-bottom: 7px;
                }

                input {
                    @extend %input-form;
                }

                .row {
                    justify-content: left;
                    align-items: center;
                    padding: 20px 0;

                    div {
                        display: flex;
                        align-items: center;
                    }

                    label {
                        padding: 0px 8px;
                        margin-right: 30px;
                        color: $color-text;
                    }
                }

                button {
                    @extend %btn-actions
                }
            }
        }
    }
}

#products {
    margin-bottom: 128px;

    .container {
        padding: 0px 30px;
        justify-content: center;

        .container-products {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            
            .product-item {
                width: 25%;
                max-width: 220px;
                margin: 0px 20px;

                .image-item {
                    height: 150px;
                    // border: 1px solid $color-primary;
                    margin-bottom: 14px;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                }

                h4.name-item {
                    font-size: 16px;
                    padding-bottom: 10px;
                }

                p {
                    font-size: 14px;
                    padding-bottom: 14px;
                }

                span {
                    font-size: 13px;
                    display: block;
                } 

                h4.price-item {
                    font-size: 18px;
                    color: $color-primary;
                    padding: 7px 0px;
                }

                a.buttom-item {
                    margin-top: 10px;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 40px;
                    @extend %btn-purchase;
                }
            }
        }
        
        .container-loadMore {
            width: 100%;
            max-width: 260px;
            justify-content: center;
            display: flex;
            margin: 0 auto;
            margin-top: 42px;

            .loading {
                content: '<img src="assets/loading.gif" width="40px" height="40px" />';
            }
            
            .btn-loadMore {
                width: 100%;
                display: flex;
                justify-content: center;
                @extend %btn-actions;
                cursor: pointer;
            }
        }

    }
}

#share-form {
    .container {
        text-align: center;

        #subtitle {
            font-size: 16px;
            margin-bottom: 40px;
        }

        form {
            .containerInputs {
                display: flex;
                justify-content: space-around;

                .row {
                    width: 40%;
                    display: flex;
                    flex-direction: column;
            
                    label {
                        font-size: 15px;
                        color: $color-text;
                        text-align: left;
                        margin-bottom: 7px
                    }
            
                    input {
                        @extend %input-form;
                    }
                }
            }
            
            button {
                margin-top: 50px;
                padding-left: 8%;
                padding-right: 8%;
                @extend %btn-actions;
            }
        }

    }
}

#footer {
    background-color: $color-primary;
    padding: 190px 0px 40px 0px;
    position: relative;
    text-align: center;
    color: #FFF;
    overflow: hidden;
    
    .text-footer {
        span {
            display: block;
            margin: 8px 0;
            color: #FFF;
        }
    }
    
    &::before {
        content: "";
        position: absolute;
        width: 190%;
        height: 140%;
        top: -130%;
        background-color: #FFF;
        left: -10%;
        transform: rotate(-5deg);
    }
}

@media (max-width: 600px) {
    #header {
        .container {
            text-align: left;
            padding: 0px 20px;
        }
    }

    #FormAlgorithin {    
            .container {
                .row {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 0px 30px;

                    .textInfo {
                        width: auto;
                        margin: 0;
                    }

                    form {
                        width: 100%;

                        .row {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: left;

                        }
                    }
                }
            }
    }

    #products {
        .container {
            .container-products{
                .product-item {
                    width: 100%;
                    max-width: none;
                    display: flex;
                    margin-bottom: 10px;
                    justify-content: space-between;

                    .image-item {
                        width: auto;
                        // padding-right: 5%;
                    }

                    .desc-item {
                        display: none;
                    }

                    div {
                        width: auto;
                        display: flex;
                        flex-direction: column;
                    }

                    h4.price-item {
                        font-size: 17px;
                    }
                }
            }
        }
    }
        
    .container .contTitle {
        margin: 0px -25px 50px -25px;
        margin-bottom: 50px;
    
        h2 {
            font-size: 18px;
            width: 170%;
        }
    }

    #share-form {
        .container {
            form {
                .containerInputs {
                    flex-direction: column;
                    padding: 0px 30px;

                    .row {
                        width: 100%;
                        
                        &:first-child{
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}

/* 
    Pontos de quebra para usar no @media:
    
    xs, extra-pequeno: 0px
    sm, pequeno: 600px
    md, medium: 900px
    lg, large: 1200px
    xl, extra-large: 1536px
*/